<h1>{{ section.settings.header }}</h1>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Main Header",
      "default": "Hello!"
    }
  ]
}
{% endschema %}
